@model BaiThuchanh.Models.BMI

@{
    ViewData["Title"] = "Kết quả BMI";
}

<h2>Kết quả tính BMI</h2>

<p>Cân nặng: @Model.Cannang kg</p>
<p>Chiều cao: @Model.Chieucao m</p>
<p>Chỉ số BMI: <b>@Model.ChisoBMI.ToString("0.00")</b></p>
<p>Phân loại: <b>@Model.Phanloai</b></p>

<a asp-action="Index">Thử lại</a>